<!-- HECHO POR JOSE DANIEL SEGUNDO ANGULO GRUPO 9-2 EXAMEN 1 -->

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-section">
      <img src="/assets/icon/task-manager-done-manager-task-svgrepo-com.svg" alt="App Logo" class="app-logo">
      <h1>Bienvenido<br><strong>Organizador de tareas</strong></h1>
      <p>Gestione sus tareas de forma eficiente y manténgase organizado donde quiera que esté.</p>
    </div>

    <div class="footer-section">
      <ion-button expand="block" class="main-button" routerLink="/tareas">
        Vamos!!!
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
